results/*
!results/__init__.py
results/runs_sdf/*
!results/runs_sdf/__init__.py
results/runs_sdf/17_07_172540/*
!results/runs_sdf/17_07_172540/weights.pt
!results/runs_sdf/17_07_172540/results.npy
!results/runs_sdf/17_07_172540/settings.yaml
__pycache__/
.DS_Store
deepsdf.egg-info
jobs/
