data/objects
data/objects.tgz
__pycache__
results/objs_dict.npy
results/objs_dict_ShapeNetCore.npy
results/objs_dict_PartNetMobility.npy
results/samples_dict.npy
results/runs_sdf/
results/runs_touch_sdf/
.DS_Store
deep_sdf.egg-info
touchsdf.egg-info
notebooks/.ipynb_checkpoints
.vscode
*.out
jobs/*.sh
data/shapenet_obj
results/touch_charts_gt.npy
results/runs_touch/
results/runs_touch_sdf/
data/ShapeNetCoreV2
data/ShapeNetCoreV2_ALL
docs/
results/idx_int2str_dict.npy
results/idx_str2int_dict.npy
results/samples_dict_PartNetMobility.npy
results/samples_dict_ShapeNetCore.npy
.vs/
data/ShapeNetCoreV2urdf
notebooks/*.ipynb
results/checkpoints/*
jobs/
notebooks/
.ipynb_checkpoints